.team-members-card {
  background-color: $white;
  overflow-x: hidden;
  overflow-y: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;

  min-width: 30%;
  max-width: 40%;
  height: 18rem;
  padding: 1rem;
  border-radius: 10px;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    li {
      @include flexible(flex, row, space-between);

      font-size: 0.75rem;
    }
  }

  .team-members {
    margin-top: 10px;
  }

  .team-member {
    margin-bottom: 10px;
  }
  .card-tag {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $colorPurple;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 0.2rem;
    color: $white;
  }
}

.buttons {
  @include flexible(flex, center, center);
  gap: 0.5rem;
  margin-top: 1rem;
}

.user-avatar-wrapper {
  @include flexible(flex, row, center, center);
  gap: 1rem;
  font-size: 0.9rem;
  color: $greyTextColor;
}

@media (max-width: 768px) {
  .team-members-card {
    min-width: 100%;
    max-width: 100%;
    width: 100%;

    height: auto;
    max-height: 260px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .team-members-card ul li {
    flex-wrap: wrap;
    align-items: center;
  }

  .team-members-card .buttons {
    margin-left: auto;
  }
}
