.map-card {
  @include flexible(flex, null, center, center);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.map-card img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}
