@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@mixin flexible(
  $display,
  $flex-direction: row,
  $justify-content: flex-start,
  $align-items: flex-start,
  $gap: 0
) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

@mixin grid(
  $display,
  $grid-template-columns: 1fr,
  $grid-template-rows: 1fr,
  $justify-content: flex-start,
  $align-items: flex-start,
  $gap: 0
) {
  display: $display;
  grid-template-columns: $grid-template-columns;
  grid-template-rows: $grid-template-rows;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

@mixin Typgraphy(
  $font-size: 1rem,
  $font-weight: 400,
  $color: #000,
  $font-style: normal,
  $text-aling: start
) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  font-style: $font-style;
  text-align: $text-aling;
}

@mixin inputs(
  $width: 100%,
  $padding: 0.5rem,
  $border-color: #000,
  $border-radius: 4px,
  $margin-top: 0.5rem
) {
  width: $width;
  padding: $padding;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  margin-top: $margin-top;
}

@mixin buttons(
  $width: max-content,
  $padding: 0.7rem 0.5rem,
  $border-color: #000,
  $border-radius: 5px,
  $background-color: #000,
  $color: #fff,
  $font-size: 1rem,
  $font-weight: 400,
  $hover-background-color: #fff,
  $hover-color: #000
) {
  width: $width;
  padding: $padding;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  background-color: $background-color;
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $hover-background-color;
    color: $hover-color;
  }
}

@mixin border(
  $border-width: 1px,
  $border-style: solid,
  $border-color: #000,
  $border-radius: 4px
) {
  border: $border-width $border-style $border-color;
  border-radius: $border-radius;
}

@mixin badges(
  $position: absolute,
  $top: 0,
  $right: 0,
  $background-color: $white,
  $color: $white,
  $font-size: 12px,
  $padding: 0,
  $font-weight: bold,
  $border-top-right-radius: 12px,
  $border-bottom-left-radius: 12px
) {
  position: $position;
  top: $top;
  right: $right;
  background-color: $background-color;
  color: $color;
  font-size: $font-size;
  padding: $padding;
  font-weight: $font-weight;
  border-top-right-radius: $border-top-right-radius;
  border-bottom-left-radius: $border-bottom-left-radius;
}

@mixin dropdowns(
  $width: 100%,
  $height: 40px,
  $radius: 8px,
  $padding: 10px,
  $gap: 10px,
  $font-size: 16px,
  $bg-color: #f0f0f0,
  $color: #505050,
  $shadow: 0 4px 4px 0 #cccccc40
) {
  width: $width;
  height: $height;
  border-radius: $radius;
  padding: $padding;
  gap: $gap;
  color: $color;
  box-shadow: $shadow;
  border: none;

  select {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: none;
    border-radius: $radius;
    font-size: $font-size;
    background-color: $bg-color;
    cursor: pointer;
    outline: none;
  }
}

@mixin cards(
  $bg: #fff,
  $radius: 12px,
  $padding: 0,
  $min-height: 200px,
  $shadow: 0 4px 12px rgba(0, 0, 0, 0.08)
) {
  background-color: $bg;
  border-radius: $radius;
  padding: $padding;
  min-height: $min-height;
  box-shadow: $shadow;
}
