$white: #fff;
$bgGrey: #f0f2f5;
$primary: #18a0fb;
$secondary: #74d101;
$danger: #d10101;
$gray: #f5f5f5;
$black: #000;
$pianoDark: #121212;
$greyTextColor: #505050cc;
$awayColor: #ffd900;
$lightGrey: #cccccc;
$darkGrey: #505050cc;
$colorPurple: #8d6ade;
$meetingColor: #ff4d4f;
